<div id="contenido">
 <div id="foto">
  <h2>Acerca de mi:</h2>
   <img id="yo" src="/images/Karen.jpg" width="300" height="300" alt="Foto de Karen">
      <p>Me llamo Karen, tengo 20 años y actualmente estoy cursando 3º de teleco en la ETSIT.</p><br>
      
  </div>
  <div id="video">
     <h2>Mi vídeo favorito:</h2>
     <iframe width="300" height="300" src="https://www.youtube.com/embed/PzE6gt4FfmE" frameborder="0" allowfullscreen>
     </iframe>
   </div>
</div>